*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

classes/
build/
target/
out/
node_modules/
vendor/
bin/
generated/
metricsReporter/

# Git
*.patch

# OS files
.DS_Store
Thumbs.db

# Caches
.sass-cache/
.gradle/
cobertura.ser
.bundle/
.gradletasknamecache

# Eclipse
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws